excludes = [
  # DevContainerのVolumeMountによるキャッシュ
  ".devcontainer/.state/*",
  # vale で取得したstyleファイル等
  ".vale/*"
]

[formatter.dockerfile_dockerfmt]
command = "dockerfmt"
options = ["-n", "-w"]
includes = ["**/Dockerfile"]
excludes = []

[formatter.dockerfile_hadolint]
command = "hadolint"
options = []
includes = ["**/Dockerfile"]
excludes = []

[formatter.editorconfig]
command = "editorconfig-checker"
options = []
includes = ["**/*"]
excludes = []

[formatter.githubactions]
command = "actionlint"
options = []
includes = [".github/workflows/*"]
excludes = []

[formatter.json]
command = "prettier"
options = ["-w"]
includes = ["*.json"]
excludes = []

[formatter.links]
command = "lychee"
options = ["--config", ".lychee.toml"]
includes = ["*.md"]
excludes = []

[formatter.markdown]
command = "markdownlint-cli2"
options = ["--fix"]
includes = ["*.md"]
excludes = []

[formatter.shellscript_shellcheck]
command = "shellcheck"
options = []
includes = ["*.sh"]
excludes = []

[formatter.shellscript_shfmt]
command = "shfmt"
options = ["-w"]
includes = ["*.sh"]
excludes = []

[formatter.toml]
command = "taplo"
options = ["fmt"]
includes = ["*.toml"]
excludes = []

[formatter.toml-sort]
command = "toml-sort"
options = ["--in-place"]
includes = [".treefmt.toml"]
excludes = []

[formatter.typos]
command = "typos"
options = []
includes = ["*"]
excludes = []

[formatter.yaml_yamlfmt]
command = "yamlfmt"
options = []
includes = ["*.yaml", "*.yml", ".yamlfmt", ".yamllint"]
excludes = []

[formatter.yaml_yamllint]
command = "yamllint"
options = []
includes = ["*.yaml", "*.yml", ".yamlfmt", ".yamllint"]
excludes = []
